<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nighterdream.Mapper.EmployeeMapper">
    <!-- 根据id查询操作 -->
    <select id="findEmployee" resultType="com.nighterdream.Pojo.Employee">
        select * from tb_employee where id=#{id}
    </select>
    <!-- 添加员工信息 -->
    <insert id="addEmployee">
        insert into tb_employee(id,name,age,position) values (#{id},#{name},#{age},#{position})
    </insert>
    <!-- 根据Id修改员工信息 -->
    <update id="updateEmployee" parameterType="com.nighterdream.Pojo.Employee">
        update tb_employee set name=#{name},age=#{age},position=#{position} where id=#{id}
    </update>
    <!-- 根据id删除员工信息 -->
    <delete id="deleteEmployee">
        delete from tb_employee where id=#{id}
    </delete>
</mapper>